In [ ]:
import pandas as pd
frame = pd.read_csv("/content/drive/MyDrive/olympic_medals.csv")

(a) Find the size of the data frame. How many rows, how many columns?

In [ ]:
frame.shape

(b) Use the appropriate function to report the data types for all columns

In [ ]:
frame.dtypes

(c) Find how many unique cities matches were held at.

In [ ]:
len(frame["Location"].unique())

In [ ]:
frame["Location"].value_counts()

(d) Find how many medals the USA team won in total.

In [ ]:
len(frame.loc[frame["Nationality"] == "USA"])

(e) Find the total number of medals for each Nationality.

In [ ]:
frame.groupby(by="Nationality")["Medal"].count().sort_values(ascending=False)

In [ ]:
medals_by_nat = pd.DataFrame(columns=["Nation", "Bronze", "Silver", "Gold", "Total"])
for i in frame["Nationality"].unique():
	bronze = len(frame[(frame["Nationality"] == i) & (frame["Medal"] == "B")])
	silver = len(frame[(frame["Nationality"] == i) & (frame["Medal"] == "S")])
	gold = len(frame[(frame["Nationality"] == i) & (frame["Medal"] == "G")])
	row = pd.DataFrame([[i, bronze, silver, gold, bronze + silver + gold]], columns=["Nation", "Bronze", "Silver", "Gold", "Total"])
	medals_by_nat = pd.concat([medals_by_nat, row], ignore_index=True)

print(medals_by_nat.sort_values(by="Total", ascending=False, ignore_index=True).to_string())